<dom-module id="strava-record-button">
  <style>
    #record-button {
      width: 200px;
      height: 200px;
      padding: 0;
      background: transparent;
    }
    
    #record-image {
      width: 190px;
    }
  </style>
  <template>
	  <button disabled id="record-button" type="button" class="pure-button button-xlarge button-strava-record">
      <img id="record-image" src="/assets/images/record/record.svg">
		</button>
  </template>
</dom-module>

<script src="StravaRecordButton.js"></script>