extends layout

block head
  script(src='/assets/cotton/js/models/Activity.js')
  script(src='/assets/cotton/js/models/CurrentAthlete.js')
  script(src='/assets/cotton/js/models/LatLngStream.js')
  script(src='/assets/cotton/js/activity/FullScreenActivityView.js')
  script(src='/assets/cotton/js/activity/FullScreenActivityController.js')
  script(src='/assets/cotton/js/templates/activity/full_screen_activity.js')
  script.
    jQuery(document).ready(function() {
      new Soliton.Cotton.Activity.FullScreenActivityController(parseInt("#{activity_id}"));
    })