extends layout

block head
  link(rel='import' href='/assets/components/common/full-screen-view/full-screen-view.html')
  link(rel='import' href='/assets/components/connect/connect-button/connect-button.html')
  link(rel='import' href='/assets/components/connect/splash-screen/splash-screen.html')

block content
  strava-full-screen-view
    strava-splash-screen(photos=photos)
      strava-connect-button(clientid=clientId host=host redirect=redirect style="position: absolute; top: 70%; left: calc(50% - 250px);")