extends layout

block head
  script(src='/assets/jquery/dist/jquery.min.js')
  script(src='/assets/cotton/js/models/Activity.js')
  script(src='/assets/cotton/js/models/AthleteActivities.js')
  script(src='/assets/cotton/js/models/CurrentAthlete.js')
  script(src='/assets/cotton/js/models/FollowingActivities.js')
  script(src='/assets/cotton/js/feed/FollowingActivityView.js')
  script(src='/assets/cotton/js/feed/AthleteActivitiesView.js')
  script(src='/assets/cotton/js/feed/LittleActivityView.js')
  script(src='/assets/cotton/js/feed/CurrentAthleteView.js')
  script(src='/assets/cotton/js/feed/FeedController.js')
  script(src='/assets/cotton/js/feed/AthleteActivityView.js')
  script(src='/assets/cotton/js/feed/FollowingActivitiesView.js')
  script(src='/assets/cotton/js/feed/OtherActivitiesView.js')
  script(src='/assets/cotton/js/templates/feed/following_activity.js')
  script(src='/assets/cotton/js/templates/feed/athlete_activities.js')
  script(src='/assets/cotton/js/templates/feed/athlete_activity.js')
  script(src='/assets/cotton/js/templates/feed/current_athlete.js')
  script(src='/assets/cotton/js/templates/feed/following_activities.js')
  script(src='/assets/cotton/js/templates/feed/little_activity.js')
  script(src='/assets/cotton/js/templates/feed/other_activities.js')
  script.
    jQuery(document).ready(function() {
      new Soliton.Cotton.Feed.FeedController();
    })
    
block content
  div(id='feed')
    div(id='feed-athlete')
    div(id='feed-interesting')
    div(id='feed-other')