doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='/assets/cotton/css/cotton.css')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCmfR2XMO4sljkBUtkxrE3aizEn9AL39zw')
    script(src='/assets/platform/platform.js')
    script(src='/assets/jquery/dist/jquery.min.js')
    script(src='/assets/underscore/underscore.js ')
    script(src='/assets/backbone/backbone.js')
    script(src='/assets/backbone.paginator/lib/backbone.paginator.min.js')
    script(src='/assets/cotton/js/Module.js')
    script(src='/assets/cotton/js/Core.js')
    title= title
    block head
  body
    block content
