doctype html
html
  head
    meta(charset='utf-8')
    link(rel='icon' href='/assets/images/favicon.ico' type='image/x-icon')
    link(rel='manifest' href='/assets/manifest.json')
    link(rel='stylesheet' href='/assets/pure/pure-min.css')
    link(rel='stylesheet' href='/assets/css/global.css' type='text/css')
    link(rel='import' href='/assets/polymer/polymer.html')
    link(rel='import' href='/assets/components/strava-orientation-lock/strava-orientation-lock.html')
    title= title
    block head
  body
    strava-orientation-lock(orientation='portrait-primary')
    block content