doctype html
html
  head
    meta(charset='utf-8')
    script(src='/assets/platform/platform.js')
    script(src='/assets/jquery/dist/jquery.min.js')
    script(src='/assets/backbone/backbone.js')
    script(src='/assets/cotton/js/Module.js')
    title= title
    block head
  body
    block content
