<dom-module id="strava-label">
  <style>
    #label {
      padding-top: 25px;
      font-size: 2em;
      font-weight: 300;
      color: #666;
      text-transform: uppercase;
      text-align: center;
    }
    
    #value {
      font-size: 7em;
      text-align: center;
    }
    
    #unit {
      font-size: 1.3em;
      font-weight: bold;
      color: #666;
      text-transform: uppercase;
      text-align: center;
    }
  </style>
  <template>
	  <div id="label">{{label}}</div>
    <div id="value">{{value}}</div>
    <div id="unit">{{unit}}</div>
  </template>
</dom-module>

<script src="StravaLabel.js"></script>